asgiref==3.11.1
attrs==26.1.0
certifi==2026.5.20
cffi==2.1.0
charset-normalizer==3.4.7
cryptography==49.0.0
Django==5.2.1
django-anymail==15.0
django-ckeditor==6.7.3
django-cors-headers==4.9.0
django-environ==0.14.0
django-extensions==4.1
django-js-asset==3.1.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
environ==1.0
flake8==7.3.0
flake8-docstrings==1.7.0
google-api-core==2.31.0
google-api-python-client==2.198.0
google-auth==2.55.1
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
httplib2==0.32.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
oauthlib==3.3.1
packaging==26.2
pillow==12.3.0
proto-plus==1.28.0
protobuf==7.35.1
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydocstyle==6.3.0
pyflakes==3.4.0
PyJWT==2.13.0
pyparsing==3.3.2
python-magic==0.4.27
PyYAML==6.0.3
referencing==0.37.0
reportlab==5.0.0
requests==2.34.2
requests-oauthlib==2.0.0
rpds-py==2026.5.1
setuptools==82.0.1
snowballstemmer==3.1.1
sqlparse==0.5.5
uritemplate==4.2.0
urllib3==2.7.0
wheel==0.47.0
